extends layout

block content
  h1 Welcome to test main page.
  h2(class="text-primary") Some debug info: #{debugInfo}
  p
    button(class="btn btn-primary", onClick='location.href="/auth"') Go to login page